<div class="product-container">
    <div class="product-item">
        <div class="inner-container">
            <div class="col-img">
                <img src="https://img.lovepik.com/free-png/20220124/lovepik-square-png-image_401707831_wh1200.png" class="item-img">
            </div>
            <div class="col-text">
                <span class="item-name">ITEM NAME</span>
                <div class="item-desc">Desciption of Item</div>
                <lib-button label="Add to cart" theme="green"></lib-button> 
            </div>
        </div>
    </div>
    <div class="product-item">
        <div class="inner-container">
            <div class="col-img">
                <img src="https://img.lovepik.com/free-png/20220124/lovepik-square-png-image_401707831_wh1200.png" class="item-img">
            </div>
            <div class="col-text">
                <span class="item-name">ITEM NAME</span>
                  <div class="item-desc">Desciption of Item</div>
                <lib-button label="Add to cart" theme="green"></lib-button>
            </div>
        </div>
    </div>
    <div class="product-item">
        <div class="inner-container">
            <div class="col-img">
                <img src="https://img.lovepik.com/free-png/20220124/lovepik-square-png-image_401707831_wh1200.png" class="item-img">
            </div>
            <div class="col-text">
                <span class="item-name">ITEM NAME</span>
                <div class="item-desc">Desciption of Item</div>
                <lib-button label="Add to cart" theme="green"></lib-button>
            </div>
        </div>
    </div>
    <div class="product-item">
        <div class="inner-container">
            <div class="col-img">
                <img src="https://img.lovepik.com/free-png/20220124/lovepik-square-png-image_401707831_wh1200.png" class="item-img">
            </div>
            <div class="col-text">
                <span class="item-name">ITEM NAME</span>
                <div class="item-desc">Desciption of Item</div>
                <lib-button label="Add to cart" theme="green"></lib-button> 
            </div>
        </div>
    </div>
</div>

<div class="product-container">
    <div class="product-item">
        <div class="inner-container">
            <div class="col-img">
                <img src="https://img.lovepik.com/free-png/20220124/lovepik-square-png-image_401707831_wh1200.png" class="item-img">
            </div>
            <div class="col-text">
                <span class="item-name">ITEM NAME</span>
                <div class="item-desc">Desciption of Item</div>
                <lib-button label="Add to cart" theme="green"></lib-button> 
            </div>
        </div>
    </div>
    <div class="product-item">
        <div class="inner-container">
            <div class="col-img">
                <img src="https://img.lovepik.com/free-png/20220124/lovepik-square-png-image_401707831_wh1200.png" class="item-img">
            </div>
            <div class="col-text">
                <span class="item-name">ITEM NAME</span>
                  <div class="item-desc">Desciption of Item</div>
                <lib-button label="Add to cart" theme="green"></lib-button>
            </div>
        </div>
    </div>
    <div class="product-item">
        <div class="inner-container">
            <div class="col-img">
                <img src="https://img.lovepik.com/free-png/20220124/lovepik-square-png-image_401707831_wh1200.png" class="item-img">
            </div>
            <div class="col-text">
                <span class="item-name">ITEM NAME</span>
                <div class="item-desc">Desciption of Item</div>
                <lib-button label="Add to cart" theme="green"></lib-button>
            </div>
        </div>
    </div>
    <div class="product-item">
        <div class="inner-container">
            <div class="col-img">
                <img src="https://img.lovepik.com/free-png/20220124/lovepik-square-png-image_401707831_wh1200.png" class="item-img">
            </div>
            <div class="col-text">
                <span class="item-name">ITEM NAME</span>
                <div class="item-desc">Desciption of Item</div>
                <lib-button label="Add to cart" theme="green"></lib-button> 
            </div>
        </div>
    </div>
</div>

<div class="product-container">
    <div class="product-item">
        <div class="inner-container">
            <div class="col-img">
                <img src="https://img.lovepik.com/free-png/20220124/lovepik-square-png-image_401707831_wh1200.png" class="item-img">
            </div>
            <div class="col-text">
                <span class="item-name">ITEM NAME</span>
                <div class="item-desc">Desciption of Item</div>
                <lib-button label="Add to cart" theme="green"></lib-button> 
            </div>
        </div>
    </div>
    <div class="product-item">
        <div class="inner-container">
            <div class="col-img">
                <img src="https://img.lovepik.com/free-png/20220124/lovepik-square-png-image_401707831_wh1200.png" class="item-img">
            </div>
            <div class="col-text">
                <span class="item-name">ITEM NAME</span>
                  <div class="item-desc">Desciption of Item</div>
                <lib-button label="Add to cart" theme="green"></lib-button>
            </div>
        </div>
    </div>
    <div class="product-item">
        <div class="inner-container">
            <div class="col-img">
                <img src="https://img.lovepik.com/free-png/20220124/lovepik-square-png-image_401707831_wh1200.png" class="item-img">
            </div>
            <div class="col-text">
                <span class="item-name">ITEM NAME</span>
                <div class="item-desc">Desciption of Item</div>
                <lib-button label="Add to cart" theme="green"></lib-button>
            </div>
        </div>
    </div>
    <div class="product-item">
        <div class="inner-container">
            <div class="col-img">
                <img src="https://img.lovepik.com/free-png/20220124/lovepik-square-png-image_401707831_wh1200.png" class="item-img">
            </div>
            <div class="col-text">
                <span class="item-name">ITEM NAME</span>
                <div class="item-desc">Desciption of Item</div>
                <lib-button label="Add to cart" theme="green"></lib-button> 
            </div>
        </div>
    </div>
</div>