.container {
    background: #ae4dea;
    border-radius:10px;
    box-shadow: 1px 1px 5px 2px !important;
    position: relative; 
    top: 50px;
    margin-top: 20px;
    padding: 20px;
}


.app-logo-container {
    display: flex;
    justify-content: center;
}


h2 {
    text-align: center;
    margin-bottom: 30px;
}

.login-form-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

input {
    z-index: 1;
}

.form-row {
    display: flex;
    margin-bottom: 20px;
}

.form-icon {
    font-size: 2em;
    width: 50px;
}

.form-button {
    margin-left: 100px !important;
}

.form-control {
    border: none;
    border-radius: 3px;
    font-size: 0.9em;
    min-height: 35px;

    min-width: 250px !important;
    width: 250px !important;
}